version: 2.1

commands:
  run-tox:
    description: "Run tox"
    parameters:
      version:
        type: string
      sphinx-version:
        type: string
        default: "5,6,7,8,9,latest,dev"
    steps:
      - checkout
      # NOTE: use Tox 3.x until I understand the syntax for generative environments:
      # https://tox.wiki/en/stable/user_guide.html#generative-environment-list
      - run: pip install --user "tox<4"
      - run: tox -e "<<parameters.version>>-sphinx{<<parameters.sphinx-version>>}"

jobs:
  py38:
    docker:
      - image: 'cimg/python:3.8'
    steps:
      - run-tox:
          version: py38
          sphinx-version: "5,6,7"
  py39:
    docker:
      - image: 'cimg/python:3.9'
    steps:
      - run-tox:
          version: py39
          sphinx-version: "5,6,7"
  py310:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - run-tox:
          version: py310
          sphinx-version: "5,6,7,8"
  py311:
    docker:
      - image: 'cimg/python:3.11'
    steps:
      - run-tox:
          version: py311
          sphinx-version: "5,6,7,8,9"
  py312:
    docker:
      - image: 'cimg/python:3.12'
    steps:
      - run-tox:
          version: py312
          sphinx-version: "7,8,9"
  py313:
    docker:
      - image: 'cimg/python:3.13'
    steps:
      - run-tox:
          version: py313
          sphinx-version: "8,9"
  py314:
    docker:
      - image: 'cimg/python:3.14'
    steps:
      - run-tox:
          version: py314
          sphinx-version: "8,9"
  docs:
    docker:
      - image: 'cimg/python:3.12'
    steps:
      - checkout
      - run: pip install --user tox
      - run: tox -e docs

workflows:
  version: 2
  tests:
    jobs:
      - docs
      - py314
      - py313
      - py312
      - py311
      - py310
      - py39
      - py38
